@import "~@/styles/constants.styl"

.service-card
  text-align center

  background-color white

  height 15em

  .representation
    height 3em

    filter grayscale(1.0)

.is-selected
  .service-card
    .representation
      filter none
