html {
    font-family: sans-serif;
    height: 100%
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hello {
    height: 8em;
    border-radius: 999em;
}
