@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

html {
    color: #657b83;
    font-family: 'Montserrat', sans-serif;

    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fdf6e3;

    height: 100%;

    margin: 0;
}

h1 {
    color: #586e75;
}

a {
    color: inherit;
}

.hello {
    height: 8em;

    border: 2px solid #586e75;
    border-radius: 999em;
}
