$height-navigation = 3em

$color-grey0 = #f8f9fa
$color-grey1 = #f1f3f5
$color-grey2 = #e9ecef

$color-accent = #0d47a1

$size-h6 = 1.0000rem
$size-h5 = 1.2500rem
$size-h4 = 1.5625rem
$size-h3 = 2.0000rem
$size-h2 = 2.5000rem
$size-h1 = 3.1250rem

$space-normal = 1.0000em
$space-small = 0.5000em
$space-smaller = 0.2500em
$space-smallest = 0.1250em

$duration-normal = 1.0000s
$duration-short = 0.5000s
$duration-shorter = 0.2500s
$duration-shortest = 0.1250s

$font-heading = "Playfair Display", serif
$font-base = "Lato", sans-serif
