@import "~@/styles/constants.styl"
@import "~@/styles/media.styl"

.navigation
  position fixed
  z-index 1

  display flex
  flex-direction row
  align-items center

  box-sizing border-box
  height $height-navigation
  width 100%

  background-color $color-grey1

  padding 0 $space-normal

  .branding
    margin-right auto

    h3
      margin 0 0 $space-smaller 0

  nav
    display flex
    flex-direction row

    .router-link
      display flex
      flex-direction column
      align-items center
      justify-content center

      box-sizing border-box
      height $height-navigation

      padding 0 $space-normal

      border-bottom $space-smaller solid transparent

      transition-property border-bottom-color
      transition-duration $duration-short

      +phone-only()
        .icon
          height 1.5em

          filter grayscale(1.0)

          transition-property filter
          transition-duration $duration-short

        .text
          display none

      +tablet-portrait-up()
        .icon
          display none

      &.router-link-active
        border-bottom-color black

        .icon
          filter none

