@import "~@/styles/page.styl"

#home
  section
    page()

    display flex
    flex-direction column
    justify-content center

    main
      text-align center

      .profile
        display block

        height 2.5em

      .arrow
        height 2.5em
        width 2.5em
